.OnePageText1 {
    font-size: 90px !important;
    padding: 80px 0px 0px 0px;
    line-height: 90px !important;
}

.OnePageText2 {
    font-size: 40px !important;
    padding: 50px 50px 50px 0px;
}

.OnePageGrid1 {
    padding: 50px;
}