.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.slogan-center-text {
  font-size: 50px !important;
  margin-top: 60px !important;
  color: rgb(226, 221, 169);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 420px){
  .slogan-center-text {
    margin-top: 20px !important;
  }
}

.mission-text{
  font-weight: 600 !important;
  color: #05334d;

}

.slogan-center-box {
  border: rgba(255, 255, 238, 0.9333) solid 1px ;
  background-color: #395348;
  border-radius: 50px;
  height: 370px;
  padding: 16px;
}
.slagon-text{
  font-size: 18px !important;
  color: rgb(226, 221, 169);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding: 10px;
}
.ana {
  background:#7C9287;
}
.-webkit-backdrop-filter{
  backdrop-filter: blur(10px) !important;
}  

.mission-under-text1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  border: 3px solid #4E6C7D;
  margin: 40px !important;
  padding: 20px;
  color: black;
  font-weight: 600;
  backdrop-filter: blur(3px) !important;
  text-align: center;
}

.mission-under-box {  
  height: 170px;
  width: 156px;
  border-radius: 20px;
  border: 3px solid #4E6C7D;
  margin: 40px !important;
  padding: 20px;
  backdrop-filter: blur(3px) !important;
}

.mission-under-text2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  text-align: center;
  margin-top: 20px !important;
  color: black;
  font-weight: bold !important;
}

.varyasyon-text-3 {
  display: flex;
  flex-direction: center; 
  padding-left: 40px; 
  font-size: 28px !important;
  font-family: cursive !important;
  text-align: center !important;
}

@media (max-width: 500px) {

  .varyasyon-text-3 {
    padding-left: 0px !important;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
